.products-container {
    text-align: center;
}

.product-container-h2 {
    width: fit-content;
    height: 3rem;
    margin: auto;
    padding: 0 .5rem;
    font-size: 2rem;
}

.line {
    width: 60%;
    max-width: 1600px;
    z-index: 1;
    position: absolute;
    background: none repeat scroll 0 0 #555;
    height: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 27px;
}

.product-container-h2 div {
    width: fit-content;
    padding: 0 .5rem;
    z-index: 99;
    position: absolute;
    background-color: #eeeeee;

    left: 0;
    right: 0;
    margin: 0 auto;
}

.portfolio-container {
    margin-bottom: 1rem;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    /* background-color: #555; */
}

.products figure {
    width: calc(20% - 2rem);
    object-fit: fill;
    border-radius: 5px;
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 4px rgba(0, 0, 0, .06), 0 0px 5px rgba(0, 0, 0, .1);
    transition: all 0.3s ease 0s;
}

.products .product-figure-opened {
    width: calc(60% - 2rem);
    object-fit: fill;
    border-radius: 5px;
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 4px rgba(0, 0, 0, .06), 0 0px 5px rgba(0, 0, 0, .1);

}

.products figure .product-photo {
    width: 100%;
    aspect-ratio: 6 / 5;
    display: flex;
    flex-direction: column;
    margin-left: .2rem;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfsq55ZrdkbCYXewrX72gsvu-bJMzAxyZTzQ&usqp=CAU");
    border-bottom: 1px solid grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.products figure .product-photo-opened {
    width: 50%;
    aspect-ratio: 6 / 5;
    display: flex;
    flex-direction: column;
    margin-left: .2rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfsq55ZrdkbCYXewrX72gsvu-bJMzAxyZTzQ&usqp=CAU");
    border-left: 1px solid rgb(65, 65, 65);
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
}

.products figcaption>h3 {
    height: 20%;
    border-bottom: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    color: rgb(66, 66, 66);
    margin: .5rem 0;
}

figcaption>p {
    margin-bottom: 1rem;
}

.product-text-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    padding-top: 1rem;
    text-align: right;
    border-top: none;
    color: rgb(17, 17, 17);
    font-size: .8rem;
}

.product-text-container-opened {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    padding-top: 1rem;
    text-align: right;
    border-top: none;
    color: rgb(17, 17, 17);
    font-size: .8rem;
}

.product-text-container>.product-more,
.product-text-container-opened>.product-more {
    margin-top: auto;
    width: 100%;
    vertical-align: bottom;
    background-color: #303030;
    box-shadow: 0 0 1px 2px grey;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: .1rem .6rem;
    cursor: pointer;
}

.product-text-container>.product-close,
.product-text-container-opened>.product-close {
    margin-top: auto;
    width: 100%;
    vertical-align: bottom;
    background-color: #ac1a1a;
    box-shadow: 0 0 1px 2px #ac1a1a;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: .1rem .6rem;
    cursor: pointer;
}

.product-specifics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-specific {
    width: 33.33%;
    font-size: 2rem;
    text-align: center;
}

/* .product-text-container>.product-more a {

} */

.last-line {
    position: relative;
}

.last-line .line {
    margin-top: 0;
    z-index: 0;
    bottom: .8rem;
}

.up-icon {
    width: fit-content;
    z-index: 1;
    position: absolute;
    background-color: #eeeeee;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}

.up-icon i {
    padding: .5rem;
}

@media (max-width: 840px) {
    .products figure {
        width: calc(50% - 2rem);
    }
}

@media (max-width:460px) {
    .products-section {
        padding: .5rem;
    }

    .products figure {
        width: 100%;
        object-fit: fill;
        border-radius: 5px;
        position: relative;
        margin: .5rem auto;
        display: flex;
        flex-direction: row;
    }

    .products figure>img {
        width: 40%;
        padding: .5rem;
        border-bottom: 0px;
        border-left: 1px solid grey;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .products figcaption {
        width: 60%;
        padding-right: 1rem;
    }

    .product-more {
        width: 50% !important;
        box-shadow: 0 0 .5px 1px grey,
            0 0 1px 1.5px rgb(0, 0, 0) !important;
    }
}

@media (min-width:1920px) {
    .products figure {
        width: calc(20% - 2rem);
    }
}